<ion-view view-title="Project Status">
  <ion-content>
<div class="row">
    <div class="col-lg-3">
        <div class="form-group">
            <label>Year</label>
            <select ng-model="year" ng-change="getStatOfProject()" class="form-control">
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
            </select>
        </div>
    </div>
    &nbsp; &nbsp; &nbsp;
     &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp;

     <div class="col-lg-3">
       <label>Type of Project</label>
        <div class="form-group">
            <div class="radio-inline">
                <label>
                    <input ng-click="getStatOfProject(choice)" ng-model="choice" type="radio" name="optionsRadios" id="optionsRadios1" value="owned" checked>Initiated
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input ng-click="getStatOfProject(choice)" ng-model="choice" type="radio" name="optionsRadios" id="optionsRadios2" value="collaborated">Collaborated
                </label>
            </div>
        </div>
    </div>

</div>

    <div class="card chart-card">
      <div class="item item-text-wrap">
        <canvas id="line" class="chart chart-bar" data="data" labels="labels" series="series"></canvas>
      </div>
   
    </div>
  </ion-content>
</ion-view>
